<div id="<%= dom_id product %>">
  <tr>
    <td style="<%= product.available ? '' : 'text-decoration:line-through;'  %>">
      <div style="display: flex; flex-direction: column;">
        <%= product.name %>
        <small>
          <%= product.description %>
        </small>
      </div>
    </td>
    <td></td>
    <td></td>
    <td>
      <%= product.price %>
    </td>
    <% if 1==1 || params[:admin].present? %>
      <td>
        <%= link_to "Editar", edit_product_path(id: product.id) %>
      </td>
    <% end %>
  </tr>
</div>