<p style="color: green"><%= notice %></p>


<div>
  <h1>Gastro Bar <i style="font-size: 40px !important;" class="material-icons">restaurant_menu</i>
    <i id="show-all" style="font-size: 40px !important;" class="material-icons">add</i>
    <i id="hide-all" style="font-size: 40px !important;" class="material-icons">remove</i>
  </h1>

</div>

<div id="products">
  <div id="categories">
    <% @categories.each do |category| %>
      <% cat = category.camelcase.gsub(' ','') %>
      <h5 style="padding: 20px; color: #049BE5; text-decoration: underline; cursor: pointer;" id="category-<%= cat %>">
        <%= category.humanize %>
      </h5>
      <div id="category-products-<%= cat %>">
        <% @products.where(category: category).each do |product| %>
          <div class="item-menu" id="<%= dom_id product %>" style="border-top: 1pt solid black !important;">
            <div style="display: flex; flex-direction: column;">
              <%= product.name %>
              <small>
                <%= product.description %>
              </small>
            </div>
            <div></div>
            <div></div>
            <div><%= sprintf('%.2f', product.price) %></div>
            <% if params[:admin].present? %>
              <div><%= link_to 'Editar', edit_product_path(id: product.id) %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<br>

<% if params[:admin].present? %>
  <%= link_to "New product", new_product_path %>
<% end %>

<style>
    .item-menu{
        display: flex;
        justify-content: space-between;
        border-top: 1pt solid black;
        border-bottom: 1pt solid black;
    }
</style>

<script type="text/javascript" charset="utf-8">


    <% @categories.each do |category| %>
      <% cat = category.camelcase.gsub(' ','') %>
      var categoryHide<%= cat %> = false;
      $('#category-<%= cat %>').on('click', function () {
        var categoryProducts = "#category-products-<%= cat %>";

        if (categoryHide<%= cat %> === false){
          $(categoryProducts).hide();
          categoryHide<%= cat %> = true;
        }else{
          $(categoryProducts).show();
          categoryHide<%= cat %> = false;
        }
      });
    <% end %>

    $('#show-all').on('click', function () {
      <% @categories.each do |category| %>
      <% cat = category.camelcase.gsub(' ','') %>
      var categoryProducts = '#category-products-<%= cat %>';
        $(categoryProducts).show();
      <% end %>
    })

    $('#hide-all').on('click', function () {
      <% @categories.each do |category| %>
        <% cat = category.camelcase.gsub(' ','') %>
        var categoryProducts = '#category-products-<%= cat %>';
        $(categoryProducts).hide();
      <% end %>
    })

</script>
