<!DOCTYPE html>
<html>
  <head>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>


    <title>AdegaMenu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <image src="https://images.vexels.com/media/users/3/217150/isolated/lists/99202b015e888ea9acf7e5ffd8d714fc-derramando-vinho-desenho-de-linha-de-vinho.png"></image>

    <%= yield %>


    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>

<style>
  body{
      background-color: #eaeaea;
  }
</style>